body {
  font-family: sans-serif;
  color: #333;
  background-color: whitesmoke;
}

#display {
  width: 500px;
  height: 500px;
}

canvas {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(21, 21, 21, 1) 79%
  );
}

.conjure-container {
  padding: 20px;
  margin: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.conjure-title {
  cursor: pointer;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 1000px;
  width: 100%;
  row-gap: 10px;
  column-gap: 10px;
}

.card {
  width: 100%;
  background-color: blanchedalmond;
  border: solid 1px #000;
  padding: 10px;
  margin: 10px;
}

.search-result {
  background-color: cornsilk;
  border: solid 1px #000;
  padding: 5px;
  margin: 5px;
}

[data-conjure] {
  display: flex;
  width: 500px;
  height: 500px;
  border: solid 1px #000;
  cursor: pointer;
  overflow: hidden;
}

.axis line {
  stroke: whitesmoke;
}

.axis path {
  stroke: whitesmoke;
}

.axis text {
  fill: whitesmoke;
}
